<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a class="icon-link" href="mailto:{{ site.email }}"><img src="{{ '/assets/images/icons/mail-fill.svg' | relative_url }}"><span>{{ site.email | escape }}</span></a>
        <a class="icon-link" href="{{ '/assets/andrew_zito_resume.pdf' | relative_url }}"><img src="{{ '/assets/images/icons/file-download-fill.svg' | relative_url }}"><span>resume</span></a>
        <a class="icon-link" href="https://github.com/{{ site.github_username | escape }}"><img src="{{ '/assets/images/icons/github-fill.svg' | relative_url }}"><span>{{ site.github_username }}</span></a>
        <a class="icon-link" href="https://www.linkedin.com/in/{{ site.linkedin_username | escape }}"><img src="{{ '/assets/images/icons/linkedin-box-fill.svg' | relative_url }}"><span>{{ site.linkedin_username }}</span></a>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <span>1.2.0</span>
      </div>
    </div>

  </div>

</footer>
