<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <div class="contact-row">
      <span class="icon-link"><a href="mailto:{{ site.email }}"><img src="{{ '/assets/images/icons/mail-fill.svg' | relative_url }}"><span>{{ site.email | escape }}</span></a></span>
      <span class="icon-link"><a href="{{ '/assets/andrew_zito_resume_2.3.pdf' | relative_url }}"><img src="{{ '/assets/images/icons/file-download-fill.svg' | relative_url }}"><span>resume</span></a></span>
      <span class="icon-link"><a href="https://github.com/{{ site.github_username | escape }}"><img src="{{ '/assets/images/icons/github-fill.svg' | relative_url }}"><span>{{ site.github_username }}</span></a></span>
      <span class="icon-link"><a href="https://www.linkedin.com/in/{{ site.linkedin_username | escape }}"><img src="{{ '/assets/images/icons/linkedin-box-fill.svg' | relative_url }}"><span>{{ site.linkedin_username }}</span></a></span>
    </div>
  </div>
</header>
